:root {
    --content-width: 1250px;
}

@media (max-width: 1400px) {
    :root {
        --content-width: 920px;
    }
}

@media (max-width: 992px) {
    :root {
        --content-width: 650px;
    }
}

@media (max-width: 768px) {
    :root {
        --content-width: 100%;
    }
}

@media print {
    .no-print {
        display: none !important;
    }
}
